.additems{
    position: relative;
    left: 30rem;
    top: -99%;
    background: transparent;
    backdrop-filter: blur(8px);
    width: 45rem;
    height: 98vh;
    text-align: center;
    border-radius: 15px;
    box-shadow: 1px 1px 16px 5px;
}
.lb-name{
    color: white;
    position: relative;
    left: -8rem;
    font-size: large;
}
.options{
    width: 10rem;
    border: 0;
    border-radius: 6px;
}
.input-tag{
    width: 13rem;
    position: relative;
    left: 2.5rem;
    border-radius: 6px;
    border: 0;
}
.textarea{
    position: relative;
    left: 3.5rem;
    border: 0;
    border-radius: 6px;
}
.input-file{
    background-color: white ;
    border: 0;
    border-radius: 6px;
    position: relative;
    left: 4.8rem;
}